@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background-color: #fafafa;
}

.mscafe-fill-remaining-space {
  flex: 1 1 auto;
}
.mscafe-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.mscafe-full-width {
  width: 100%;
}
.mscafe-order-card {
  padding: 20px;
}
.mscafe-order-view {
  padding-top: 80px;
  align-content: center;
  width: 100%;
}
.mscafe-title {
  font-size: medium;
}
.mscafe-tool-bar {
  position: absolute;
  left: 0;
  right: 0;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}