<mat-drawer-container class="mscafe-side-container">
  <mat-drawer class="mscafe-side-drawer" #drawer>
    <mat-form-field class="mscafe-full-width">
      <!-- <span matPrefix>http:// &nbsp;</span> -->
      <input matInput placeholder="Cashier Service URL" type="url" value="" 
        [(ngModel)]="model['serviceUrl']" name="serviceUrl">
    </mat-form-field>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mscafe-order-view" align="center">
      <div class="container" [hidden]="submitted">
          <form (ngSubmit)="onSubmit()" #orderForm="ngForm" class="mscafe-form">

            <mat-card class="mscafe-order-card">
              <mat-card-title class="mscafe-title">Place Order</mat-card-title>
              <mat-form-field class="mscafe-full-width">
                <input matInput placeholder="Name" type="text" value="" required 
                  [(ngModel)]="model.name" name="name">
              </mat-form-field>
              
              <mat-form-field class="mscafe-full-width">
                <span matPrefix>+1 &nbsp;</span>
                <input type="tel" matInput placeholder="Telephone" required
                  [(ngModel)]="model.phone" name="phone">
              </mat-form-field>

              <button type="submit" mat-raised-button color="primary" [disabled]="!orderForm.form.valid || !model['serviceUrl']">Submit</button>
              &nbsp;
              <button mat-raised-button (click)="drawer.toggle();" type="button">Settings</button>
            </mat-card>
          </form>
      </div>

      <div class="container" [hidden]="!submitted">
        <h2 class="mscafe-title">{{ orderPlacedMsg }}</h2>
        
        <br>
        <button mat-raised-button (click)="submitted=false" type="button">Continue</button>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
