<div style="text-align:center">
  <mat-toolbar color="primary" class="mscafe-tool-bar">
    <span class="mscafe-title">
      <!-- <button mat-button><mat-icon>free_breakfast</mat-icon> {{ title }}</button> -->
      {{ title }}
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="mscafe-fill-remaining-space"></span>

    <span>
      <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon> -->
      <!-- <button mat-icon-button disabled>
        <mat-icon>settings</mat-icon>
      </button> -->
    </span>
  </mat-toolbar>
</div>

<app-order-form></app-order-form>

<router-outlet></router-outlet>
